    
  .board-container {
    display: flex ;
    justify-content: space-around;
    padding: 20;
    margin-left: 2rem;
    background-color: var(--background-dark);
    flex-grow: 1;
  }

  @media screen and (max-width: 768px) {
    .board-container {
      flex-direction: column; 
      margin-left: 0;
    }
  }
  .col-container {
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    text-align: center;
  }
  .column {
    margin: 10px;
    border-radius: 10px;
    background: rgb(61, 19, 165);
    padding: 4px;
    width: 350px;
    min-height: 500px;
  }
  
  
  .column-h2 {
    margin-bottom: 8px;
    margin-top: 10px;
    color: rgb(167, 167, 211);
    text-align: center;
    align-items: center;
  }

  .card {
    border: 1px solid #d0e954;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: rgb(157, 88, 241);
  }

  button{
    padding: 5px;
    border-color: black;
    height: 40px;
    border-radius:5px;
    cursor: pointer;
    outline: none;
    font-size: medium;
    background: none;
  }

  .btn-plus{
    background-color: none;
    color:rgb(167, 167, 211);
    width: 40px; 
    font-size: 40px;
    padding-bottom: 60px;
  }
  .btn-plus:hover{
    background-color: rgb(167, 167, 211);
    color:#007bff ;
  }

  .btn-submit{
    border: 2px solid #007bff;
    color: white;
    margin-left: 10px;
  }
  .btn-submit:hover{
    background-color: rgb(113, 156, 242);
    color:var(--background-dark) ;
  }
  .btn-column {
    margin-top: 250px;
    height: 60px;
  }

  .inputs{
    padding: 15px;
    height: 35px;
    color: var(--background-dark);
    font-size: small;
    border: 2px solid #007bff;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px;
    font-size: 16px;
  }
  .inputs::placeholder {
    color: var(--background-dark);
  }