.container {
  display: flex;
  background: #161131;
  color: #f4f3ee;
}


nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #190e4f;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo {
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}

.logo span {
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.link{
  padding: 10px;
  max-height: 10px;
  width: 20px;
}

a {
  position: relative;
  color: #f4f3ee;
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}
nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}
.logout {
  position: absolute;
  bottom: 0;
}
.main {
  position: relative;
  padding: 20px;
  width: 100%;
}
.main-top {
  display: flex;
  width: 100%;
}
.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.main-course,
.main-tasks {
  margin-top: 20px;
}

.course-box {
  width: 100%;
  height: auto;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
  background: #301d5f;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.course-box ul {
  list-style: none;
  display: flex;
}
.course-box ul li {
  margin: 10px;
  color: whitesmoke;
  cursor: pointer;
}
.course-box ul .active {
  color: #9191e9;
  border-bottom: 1px solid #9191e9;
}

.course-box ul li:hover {
  transform: scale(1.1);
}
.course-box .course {
  display: flex;
}
.box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #5643fa, #9191e9);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.box p {
  font-size: 12px;
  margin-top: 5px;
}
.box button {
  background: #190e4f;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}
.box button:hover {
  background: #9191e9;
  color: #000;
  transform: scale(1.1);
}
.box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.new-box {
  width: 33%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom right, whitesmoke, rgb(177, 175, 175));
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.new-box p {
  font-size: 12px;
  margin-top: 5px;
  color: #000;
}
.new-box button {
  background: #190e4f;
  color: #fff;
  padding: 7px 10px;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}
.new-box button:hover {
  background: #9191e9;
  color: #000;
  transform: scale(1.1);
}
.new-box i {
  font-size: 7rem;
  float: right;
  margin: -20px 20px 20px 0;
}

.box-head {
  color: #190e4f;
}

.vertical-list {
  display: flex;
  flex-direction: column;
}

.vertical-list li {
  margin-bottom: 5px;
}

.html {
  color: rgb(25, 94, 54);
}
.css {
  color: rgb(104, 179, 35);
}
.js {
  color: rgb(28, 98, 179);
}
